/* customersComponent's private CSS styles */
.customers {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.customers li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.customers li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.customers a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.customers a:hover {
  color:#607D8B;
}

.customers .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

li {
  overflow: hidden;
}

ul {
  column-gap: 50px;
}

.card {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  color: #444;
  border: 1px solid #999;
  border-radius: 4px;
  background: #eee;
  text-align: center;
  padding-top: 30px;
  float: left;
  margin-right:30px;
  width: 18rem;
}

.card :before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-size: 28px;
    font-style: normal;
    left: 50%;
    line-height: 60px;
    position: absolute;
    top: -30px;
    width: 60px;
  }

  .card img {
    width:75px;
    height:75px;
  }